main {
  /* Start using rem for accessibility */
  width: 933px;
  margin: auto;
}
body {
  font-family: "Segoe UI", Arial, sans-serif;
  font-weight: 300;
}
ul {
  margin-block-start: 0px;
  margin-block-end: 0px;
  list-style: none;
}
.section-container {
  border-radius: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.first-section {
  background-color: #554bab;
}

.card-container {
  width: 220px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-left: 30px;
  padding: 20px;
}
.card-header {
  text-align: center;
}
/* using a single class without more selectors */
/* for exmaple, .card-date-format */
.card-header .date-time-format {
  padding-bottom: 5px;
  color: #a7a6b8;
  font-size: 0.7rem;
}

/* Try using only one class */
/* .card-image */
.card-header img {
  border-radius: 50%;
  max-height: 80px;
}

/* .card-title only */
.card-body .card-title {
  font-weight: 600;
  line-height: 1.45em;
  color: #37335d;
  font-size: 1rem;
}
.card-footer {
  margin-top: 10px;
  font-size: 0.7em;
  color: #8d8ca3;
  font-style: italic;
  line-height: 1.3em;
}

/* .card-details-link */
.card-footer a {
  color: #8d8ca3;
  font-size: x-small;
}

.second-section {
  margin-top: 20px;
  background-color: #eaecf9;
}
.second-section .card-container {
  margin: auto;
}

.footer-section {
  background-color: #37335d;
  color: white;
  margin-top: 20px;
  border-radius: 10px;
  font-style: italic;
}
.load-more {
  /* you can use property shortcuts */
  /* like padding: 50px 0 // top and bottom | left and right */
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  text-rendering: geometricPrecision;
}

